<div class="progress-container">
  <div class="progress-bar" [style.width.%]="scrollPercentage"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Welcome to Angular Scroll Progress Bar App</h1>
      <h1>Paragraph 1</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at turpis
        at velit scelerisque sollicitudin. Aliquam ac eros lectus. Ut at commodo
        nulla, quis sodales purus. Duis ac dictum nisi, vitae imperdiet nibh.
        Nam iaculis imperdiet erat, vel commodo odio scelerisque sit amet.
        Quisque elementum ex a sagittis feugiat. Pellentesque mattis, felis ac
        porttitor auctor, massa justo blandit enim, at volutpat nisl enim
        iaculis ex. Maecenas sagittis, nisi non aliquam rutrum, est sapien
        volutpat neque, eu pretium mauris leo a elit. Vivamus tellus risus,
        sodales vitae ipsum accumsan, mattis molestie arcu. Etiam blandit sapien
        eget justo dictum ornare. Morbi et turpis ut nisl ultrices rutrum id sit
        amet augue. Nullam augue nibh, commodo eu tempus ac, ornare id mauris.
        Pellentesque interdum turpis eu mauris fringilla, ut posuere ligula
        gravida. Donec ultricies neque vel urna faucibus, ut varius leo iaculis.
        Pellentesque euismod ultricies hendrerit. Fusce vehicula nisl et dui
        elementum, quis egestas nibh vehicula.
      </p>

      <h1>Paragraph 2</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at turpis
        at velit scelerisque sollicitudin. Aliquam ac eros lectus. Ut at commodo
        nulla, quis sodales purus. Duis ac dictum nisi, vitae imperdiet nibh.
        Nam iaculis imperdiet erat, vel commodo odio scelerisque sit amet.
        Quisque elementum ex a sagittis feugiat. Pellentesque mattis, felis ac
        porttitor auctor, massa justo blandit enim, at volutpat nisl enim
        iaculis ex. Maecenas sagittis, nisi non aliquam rutrum, est sapien
        volutpat neque, eu pretium mauris leo a elit. Vivamus tellus risus,
        sodales vitae ipsum accumsan, mattis molestie arcu. Etiam blandit sapien
        eget justo dictum ornare. Morbi et turpis ut nisl ultrices rutrum id sit
        amet augue. Nullam augue nibh, commodo eu tempus ac, ornare id mauris.
        Pellentesque interdum turpis eu mauris fringilla, ut posuere ligula
        gravida. Donec ultricies neque vel urna faucibus, ut varius leo iaculis.
        Pellentesque euismod ultricies hendrerit. Fusce vehicula nisl et dui
        elementum, quis egestas nibh vehicula.
      </p>

      <h1>Paragraph 3</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at turpis
        at velit scelerisque sollicitudin. Aliquam ac eros lectus. Ut at commodo
        nulla, quis sodales purus. Duis ac dictum nisi, vitae imperdiet nibh.
        Nam iaculis imperdiet erat, vel commodo odio scelerisque sit amet.
        Quisque elementum ex a sagittis feugiat. Pellentesque mattis, felis ac
        porttitor auctor, massa justo blandit enim, at volutpat nisl enim
        iaculis ex. Maecenas sagittis, nisi non aliquam rutrum, est sapien
        volutpat neque, eu pretium mauris leo a elit. Vivamus tellus risus,
        sodales vitae ipsum accumsan, mattis molestie arcu. Etiam blandit sapien
        eget justo dictum ornare. Morbi et turpis ut nisl ultrices rutrum id sit
        amet augue. Nullam augue nibh, commodo eu tempus ac, ornare id mauris.
        Pellentesque interdum turpis eu mauris fringilla, ut posuere ligula
        gravida. Donec ultricies neque vel urna faucibus, ut varius leo iaculis.
        Pellentesque euismod ultricies hendrerit. Fusce vehicula nisl et dui
        elementum, quis egestas nibh vehicula.
      </p>

      <h1>Paragraph 4</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at turpis
        at velit scelerisque sollicitudin. Aliquam ac eros lectus. Ut at commodo
        nulla, quis sodales purus. Duis ac dictum nisi, vitae imperdiet nibh.
        Nam iaculis imperdiet erat, vel commodo odio scelerisque sit amet.
        Quisque elementum ex a sagittis feugiat. Pellentesque mattis, felis ac
        porttitor auctor, massa justo blandit enim, at volutpat nisl enim
        iaculis ex. Maecenas sagittis, nisi non aliquam rutrum, est sapien
        volutpat neque, eu pretium mauris leo a elit. Vivamus tellus risus,
        sodales vitae ipsum accumsan, mattis molestie arcu. Etiam blandit sapien
        eget justo dictum ornare. Morbi et turpis ut nisl ultrices rutrum id sit
        amet augue. Nullam augue nibh, commodo eu tempus ac, ornare id mauris.
        Pellentesque interdum turpis eu mauris fringilla, ut posuere ligula
        gravida. Donec ultricies neque vel urna faucibus, ut varius leo iaculis.
        Pellentesque euismod ultricies hendrerit. Fusce vehicula nisl et dui
        elementum, quis egestas nibh vehicula.
      </p>

      <h1>Paragraph 5</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at turpis
        at velit scelerisque sollicitudin. Aliquam ac eros lectus. Ut at commodo
        nulla, quis sodales purus. Duis ac dictum nisi, vitae imperdiet nibh.
        Nam iaculis imperdiet erat, vel commodo odio scelerisque sit amet.
        Quisque elementum ex a sagittis feugiat. Pellentesque mattis, felis ac
        porttitor auctor, massa justo blandit enim, at volutpat nisl enim
        iaculis ex. Maecenas sagittis, nisi non aliquam rutrum, est sapien
        volutpat neque, eu pretium mauris leo a elit. Vivamus tellus risus,
        sodales vitae ipsum accumsan, mattis molestie arcu. Etiam blandit sapien
        eget justo dictum ornare. Morbi et turpis ut nisl ultrices rutrum id sit
        amet augue. Nullam augue nibh, commodo eu tempus ac, ornare id mauris.
        Pellentesque interdum turpis eu mauris fringilla, ut posuere ligula
        gravida. Donec ultricies neque vel urna faucibus, ut varius leo iaculis.
        Pellentesque euismod ultricies hendrerit. Fusce vehicula nisl et dui
        elementum, quis egestas nibh vehicula.
      </p>
      <!-- Your content goes here -->
      <div style="height: 2000px"></div>
    </div>
  </div>
</div>
